<div class="row">
  <form>
    <div class="grid-container">
      
      <div class="grid-container fluid">
        
        <div class="grid-x grid-margin-x">
          <div class="cell small-12 small-offset-0 medium-6 medium-offset-3 align-center">
            <h1 class="head-line">Add a Post</h1>
          </div>
        </div>

        <div class="grid-x grid-margin-x">
          <div class="cell small-12 small-offset-0 medium-6 medium-offset-3">
            <label>Post Title
                <input type="text" [(ngModel)]="postTitle" name="postTitle" required #psTitle="ngModel">
            </label>
          </div>
        </div>

        <div class="grid-x grid-margin-x">
          <div class="cell small-12 small-offset-0 medium-6 medium-offset-3">
            <label>Post Content
                <textarea rows="15" id="content" [(ngModel)]="content" name="content" required #psContent="ngModel">
                </textarea>
            </label>
          </div>
        </div>

        <div class="grid-x grid-margin-x">
          <div class="cell small-12 small-offset-0 medium-6 medium-offset-3 padding-top-10 padding-bottom-10">
            <input type="file" (change)="fileLoad($event)"><br>
            <img *ngIf = "imageSRC" [src] = "imageSRC" alt="Image preview...">
          </div>
        </div>

      </div>

      <div class="grid-container fluid">
        <div class="grid-x grid-margin-x">
          <div class="cell small-12 small-offset-0 medium-6 medium-offset-3">
            <div class="button-group">
                <button class="success button " type="button" [disabled]="!psTitle.valid || !psContent.valid" 
                    (click)="createPost()">Create Post</button>
                <button class="cancel button" type="button" (click)="cancel()">Cancel</button>
            </div>
          </div>

        </div>
      </div>
    </div>

  </form>
</div>


