<div class="row">
  <form>
    <div class="grid-container">
      
      <div class="grid-container fluid">
        
        <div class="grid-x grid-margin-x">
          <div class="cell small-12 medium-12 align-center">
            <h1 class="head-line">Login to your Account</h1>
          </div>
        </div>

        <div class="grid-x grid-margin-x">
          <div class="cell small-12 small-offset-0 medium-6 medium-offset-3">
            <label>Username
              <input type="text" placeholder="Enter Email Address" id="email" 
                  [(ngModel)]="email" name="email" required #em="ngModel">
              <div [hidden]="em.valid || em.pristine" class="alert callout">
                Email is required
              </div>
            </label>
          </div>
        </div>

        <div class="grid-x grid-margin-x">
          <div class="cell small-12 small-offset-0 medium-6 medium-offset-3">
            <label>Password
              <input type="password" placeholder="Enter Password" id="password1" 
                  [(ngModel)]="password1" name="password1" required #pwd1="ngModel">
              <div [hidden]="pwd1.valid || pwd1.pristine" class="alert callout">
                Password required
              </div>
            </label>
          </div>
        </div>

      </div>

      <div class="grid-container fluid">
        <div class="grid-x grid-margin-x">

          <div class="cell small-12 small-offset-0 medium-6 medium-offset-3">
            <div class="button-group">
              <a class="success button" (click)="login()">Login</a>
              <a class="button" (click)="signup()">Sign Up</a>
            </div>
          </div>

          <div class="cell small-12 small-offset-0 medium-6 medium-offset-3">
            <p (click)="cancel()" class="text-center simlink"><- Back to the Main Site</p>
          </div>

        </div>
      </div>
    </div>

  </form>
</div>

